<h1>brewery locator map</h1>
<p class="lead">Use the controls below the map to manually set location or find nearby breweries.</p>
<p>Using ui-leaflet</p>
<hr />

<leaflet id="brewmap" markers="brewMap.markers" tiles="brewMap.tiles" lf-center="brewMap.center" controls="brewMap.controls" width="100%" height="480px"></leaflet>

<div ng-if="debug">
  <form class="form-inline">
    <div class="form-group">
      <label for="zip">Zip:</label>
      <input type="text" id="zip" class="form-control" ng-model="zipcode">
      <button class="btn btn-primary" ng-click="brewMap.getLatLng()">Get Location</button>
    </div>
  </form>
</div>
<br />

<form class="form-inline">
  <div class="form-group">
    <label for="lat">Lat:</label>
    <input type="text" id="lat" class="form-control" ng-model="brewMap.center.lat">
    <label for="lng">Lng:</label>
    <input type="text" id="lng" class="form-control" ng-model="brewMap.center.lng">
  </div>
  <div class="form-group">
    <!-- <label for="radius">Radius:</label>
    <select id="radius" class="form-control" ng-model="brewMap.searchRadius">
      <option value="2">Walkable</option>
      <option value="4">Drivable</option>
    </select> -->
    <label for="numresults">Results:</label>
    <select id="numresults" class="form-control" ng-model="brewMap.resultLimit">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
    </select>
    <!-- <label for="numresults">Results:</label>
    <input type="text" id="numresults" class="form-control" ng-model="brewMap.resultLimit"> -->
    <button class="btn btn-primary" ng-click="brewMap.getBreweries()">Get Breweries</button>
    <button class="btn" ng-click="brewMap.clearResults()">Clear Results</button>
  </div>
</form>
<br />

<!-- <form class="form-inline">
  <div class="form-group">
    <label for="locationselect">Select location:</label>
    <select id="locationselect" class="form-control" ng-model="brewMap.currentAddress" ng-change="brewMap.recenter()">
      <option ng-repeat="location in brewMap.addressBook" value="{{location.index}}">{{location.company}}</option>
    </select>
  </div>
</form>
<br /> -->

<!-- <div class="well well-sm" ng-show="brewMap.currentAddress >= 0">
  <p>Company: {{brewMap.addressBook[brewMap.currentAddress].company}}</p>
  <p>Address: {{brewMap.addressBook[brewMap.currentAddress].address}}</p>
  <p>Phone: {{brewMap.addressBook[brewMap.currentAddress].phone}}</p>
  <p>Email: {{brewMap.addressBook[brewMap.currentAddress].email}}</p>
</div> -->

<div ng-repeat="brewery in brewMap.breweries"> <!-- already sorted by distance orderBy:'distance' -->
  <hr />
  <a ng-click="brewMap.scrollToMap($index)"><strong>{{brewery.brewery.name}}</strong></a><br />
  {{brewery.streetAddress}}<br />
  <span ng-if="brewery.locality && brewery.locality != ''">{{brewery.locality}}<br /></span>
  <span ng-if="brewery.region && brewery.region != ''">{{brewery.region}}<br /></span>
  <span ng-if="brewery.postalCode && brewery.postalCode != ''">{{brewery.postalCode}}<br /></span>
  <a href="{{brewery.brewery.website}}">{{brewery.brewery.website}}</a>
</div>

<div ng-if="debug">
  <hr />
  <pre>{{brewMap.breweries | json}}</pre>
</div>
